@model InventoryControlSystem.Models.Product

@{
    ViewData["Title"] = "Move Qty";
}

<div class="inventory-body create-body">
    <div class="create-div">
        <h3 class="inventry-heading">Move Item</h3>
        <form asp-action="MoveQty" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <div class="create-form-div mb-3">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="" class="search-label">Item name</label>
                        <input type="text" asp-for="ItemName" class="search-input" required>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="" class="search-label">QTY</label>
                        <input type="number" class="search-input" asp-for="Qty" required min="1" value="1">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="" class="search-label">Location</label>
                        <input type="text" class="search-input" asp-for="Location" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="" class="search-label">Area</label>
                        <input type="text" class="search-input" asp-for="Area" required>
                    </div>
                    <div class="col-md-12">
                        <label for="" class="search-label">Status</label>
                        <select type="text" class="search-select" asp-for="Status">
                            <option selected disabled>Select Option</option>
                            <option value="Available">Available</option>
                            <option value="Not Available">Not Available </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-sm btn-primary rounded-3 px-5"><i class="fas fa-plus"></i> Move Qty</button>
            </div>
        </form>

    </div>
    <a href="/Home/Index" class="create-previous"><i class="fas fa-arrow-left"></i> Previous</a>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
