<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- custom styling -->
    <link rel="stylesheet" href="~/Inventory/assets/css/style.css" />
    <!-- bootstrap  -->
    <link rel="stylesheet" href="~/Inventory/assets/css/bootstrap.min.css" />
    <!-- icons -->
    <link rel="stylesheet" href="~/Inventory/assets/icons/fontawesome/css/all.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <!-- dropzone -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.min.css" rel="stylesheet">

    <title>Invertory</title>
</head>

<body>


    <header>
        <div class="header">
            <div>
                <h1 class="header-main-heading">@ViewData["Title"]</h1>
            </div>
            <div class="dropdown">
                <a class="menu-a-header" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bars"></i> <span>Menu</span>
                </a>
                <ul class="dropdown-menu px-3 py-3" style="border-radius: 12px 24px;">
                    <li>
                        <a href="/Home/Index" class="btn btn-secondary w-100">Reset</a>
                    
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <script src="~/Inventory/assets/js/bootstrap.min.js"></script>
    <script src="~/Inventory/assets/icons/fontawesome/js/all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $('.inventry-table tbody').on('click', '.table-row', function () {
            $('.table-row').removeClass('selected-tr');
            $(this).addClass('selected-tr');
        });
    </script>
</body>

</html>